PROJECT_NAME=
ENVIRONMENT=
DEBUG=
API_PREFIX=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

CORS_ORIGINS=
LOG_LEVEL=